:root {
	/* BROWN THEME */
	/*
	--color-bg: #fda;
	--color-text: #542;
	--color-rows: #ffdd99;
	--color-odd-rows: #eb8;
	--color-dialog: #fc9;
	--color-btnface: #fff8e0;
	--color-btnborder: var(--color-text);
	--color-shadow: var(--color-text);
	*/

	/* GRAY THEME */
	/**/
	--color-bg: #fff;
	--color-text: #446;
	--color-rows: #fff;
	--color-odd-rows: #f2f2f2;
	--color-dialog: #f7f7f7;	
	--color-btnface: #efefef;
	--color-btnborder: #b8b8b8;
	--color-shadow: var(--color-text);
	/**/

	/* GREEN THEME */
	/*
	--color-bg: #e6fffe8;
	--color-text: #464;
	--color-rows: #fff;
	--color-odd-rows: #ebfcf6;
	--color-dialog: #eaf8ef;	
	--color-btnface: #eaf8ef;
	--color-btnborder: #cdc;
	--color-shadow: var(--color-text);
	*/

	/* BLUE THEME */
	/*
	--color-bg: #fff;
	--color-text: #446;
	--color-rows: #f5fbff;
	--color-odd-rows: #e5e9f7;
	--color-dialog: #fff;	
	--color-btnface: #eff4ff;
	--color-btnborder: #b2b8e8;
	--color-shadow: var(--color-text);
	*/	

	/* DARK THEME */
	/*
	--color-bg: #555;
	--color-text: #eee;
	--color-rows: #666;
	--color-odd-rows: #888;
	--color-dialog: #777;	
	--color-btnface: #777;
	--color-btnborder: #666;
	--color-shadow: #000;
	*/

	--color-btn-contrast: var(--color-text);

	--color-plus: #48f;
	--color-minus: #c20;

	--color-c2a: #2090f0;
	--color-c2a-contrast: #fff;
	--color-good: #209030;
	--color-good-contrast: #fff;
	--color-bad: #ef2020;
	--color-bad-contrast: #fff;
	--color-warn: #ef7020;
	--color-warn-contrast: #fff;	
}

html, body {
	font-family: "Segoe UI", Arial, sans-serif;
	color: var(--color-text);
	background-color: var(--color-bg);
	max-width: 1200px;
	margin: auto;
}

body {
	margin: 1.2em;
}

table.toolbar td {
	padding: 5px;
}

a.selected {
	border-bottom: 1px solid var(--color-btnborder) !important;
}

a {
	color:var(--color-text);
	padding: 5px;
    text-decoration: none
}

a:hover {
	color: var(--color-btn-contrast);
    border:var(--color-btnborder) 1px solid;
    padding: 4px;
    background: var(--color-btnface);
    text-decoration: none
}

table.liste {
	margin-top: 0.5em;
	background-color: var(--color-rows);
}

table.liste td, table.liste th {
	padding: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}

table.liste tr:nth-child(even) { background:var(--color-odd-rows) }

button, select, input[type = submit] {
	color:var(--color-btn-contrast);
	padding: 0.6rem;
	border-radius: 7px;
	border: 1px solid var(--color-btnborder);
}

button, input[type = submit] {
	font-size: 12pt;
	background-color:var(--color-btnface);
}

input[type = submit] {
	background-color: var(--color-c2a);
	color: var(--color-c2a-contrast);
	border-color: var(--color-c2a);
}

button:hover, input[type = submit]:hover, .edit-link:hover {
	box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .06 );
	cursor: pointer;
}

select {
	margin-top: 4px;
	min-width: 13.5rem;
	border-radius: 2px;
}

.dialog {
    left: 50%;
    top: 50%;
    transform : translate(-50%, -50%);

	position: absolute;
	padding: 1.4rem;
	background: var(--color-dialog);
	border: 1px solid var(--color-btnborder);
	box-shadow: 2px 5px 7px var(--color-shadow);
}

.dialog header {
    font-size: 1.17em;
    margin-block-start: 0.4em;
	padding-bottom: 0.6em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;	
	border-bottom: 1px solid var(--color-btnborder);
}

.dialog input[type = text], input[type = email], input[type = date], input[type = time], input[type = number] {
	font-family: "Segoe UI", Arial, sans-serif;
	padding: 0.4em;
	min-width: 12em;
	margin-top: 5px;
	margin-bottom: 4px;
	border: 1px solid var(--color-btnborder);
	background-color: var(--color-bg);
	color: var(--color-text);
}

.dialog input[type = text], select {
	min-width: 25em;
	background-color: var(--color-bg);
	color: var(--color-text);
}

.dialog footer {
	padding-top: 1.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 0px 8px;
	grid-template-areas: "a . b c"	
}

.dialog label {
	margin-top: 0.3em;
	display: block;
}

.dialog footer > * {
	min-width: 5rem;
}

.good {
	color: var(--color-good-contrast);
	background-color: var(--color-good);
	border-color: var(--color-good);
}

.bad {
	color: var(--color-bad-contrast);
	background-color: var(--color-bad);
	border-color: var(--color-bad);
}

.warn {
	color: var(--color-warn-contrast);
	background-color: var(--color-warn);
	border-color: var(--color-warn);
}

.c2a {
	color: var(--color-c2a-contrast);
	background-color: var(--color-c2a);
	border-color: var(--color-c2a);
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.plus {
	color: var(--color-plus);
}

.minus {
	color: var(--color-minus);
}